services:
  app:
    build: .
    container_name: kasir-go-app
    restart: always
    env_file:
      - .env
    ports:
      - "${PORT}:${PORT}"
    environment:
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    dns:
      - 8.8.8.8
      - 8.8.4.4
      - 1.1.1.1
    network_mode: host
